.vgrid-canvas {

} 

.sb-visible {
    opacity: 0.75;
}

.sb-hidden {
    opacity: 0.0;
}

.verticalScroller {
    position: absolute;
    left: 100%;
    bottom: 15px;
    right: 0;
    top: 0;
    margin-left: -15px;
    background-color: #E7E7E7;
}

.horizontalScroller {
    position: absolute;
    top: 100%;
    right: 15px;
    bottom: 0;
    left: 0;
    margin-top: -15px;
    background-color: #E7E7E7;
}

.editor {
    position: absolute;
    display: none;
    border: solid 2px black;
    outline: 0;
    padding: 0;
    z-index: 1000;
}

.scroll-bar:hover {
	opacity: 1.0;
}

.scroll-bar {
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    z-index: 10;
}

.horizontalScroller > .scroll-bar-gutter {
	position: absolute;
	height: 15px;
	right: 34px;
	left: 15px;
	border-radius: 4px;
}

.verticalScroller > .scroll-bar-gutter {
	position: absolute;
	width: 15px;
	bottom: 34px;
	top: 15px;
	border-radius: 4px;
}

.scroll-bar-up {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 12px;
	height: 12px;
	background-color: #B6B6B6;
	border-radius:4px;
	-o-transition:background-color .1s ease-in;
	-ms-transition:background-color .1s ease-in;
	-moz-transition:background-color .1s ease-in;
	-webkit-transition:background-color .1s ease-in;
	transition:background-color .1s ease-in;

}

.scroll-bar.horizontal .scroll-bar-up {
	position: absolute;
	top: 1px;
	right: 0px;
	left: auto;
	width: 12px;
	height: 12px;
}

.scroll-bar-thumb {
	background-color: #B6B6B6;
	width: 8px;
	height: 20px;
	top: 0;
	left: 3px;
	position: absolute;
	border-radius:6px;

	-o-transition:background-color .1s ease-in;
	-ms-transition:background-color .1s ease-in;
	-moz-transition:background-color .1s ease-in;
	-webkit-transition:background-color .1s ease-in;
	transition:background-color .1s ease-in;
}

.scroll-bar-thumb:hover, .scroll-bar-up:hover, .scroll-bar-down:hover {
	background-color: #4E4E4E;
}

.scroll-bar.horizontal .scroll-bar-thumb {
	height: 8px;
	width: 20px;
	left: 0px;
	top: 3px;
	position: absolute;
}

.scroll-bar-down {
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 12px;
	height: 12px;
	background-color: #B6B6B6;
	border-radius:4px;

	-o-transition:background-color .1s ease-in;
	-ms-transition:background-color .1s ease-in;
	-moz-transition:background-color .1s ease-in;
	-webkit-transition:background-color .1s ease-in;
	transition:background-color .1s ease-in;
}
.scroll-bar.horizontal .scroll-bar-down {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 12px;
	height: 12px;
}
